<div class="modal transparent image-modal advertisement">

    <div id="sizing" class="itemModal advertisement fullmodal">
        <button class="button button-icon icon ion-ios-close" ng-click="closeAds()" style="position:absolute;z-index:3;color:rgba(0,0,0,0.3);right:0;"></button>
        <div class="row sub-menu slider-main">
            <div class="col col-100" align="center" style="margin:0;padding:0;">
                <div class="padding">
                    <p style="font-size: 12px;">Selalu ada memberikan anda pengalaman parkir yang terbaik. Bagi Pengendara, Pengelola, dan Juru Parkir</p>
                </div>

            </div>
        </div>        
        <form ng-submit="credentials(data)">
            <div class="row">
                <div class="col col-100">
                    <div class="list list-inset" style="margin:0;padding:0;">
                        <label class="item item-input">
                            <input type="email" placeholder="Email" ng-model="data.email">
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Password" ng-model="data.password">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <a class="button" ng-click="goTocheckin()" style="width:100%;border-radius:10px;padding:0 2%;display:flex;align-items:center;justify-content:center;min-height:0;border:2px solid #3498db;outline:0;background-color:transparent;height:85%;">
                    <strong style="font-size: 12px;color:#3498db;">Checkin</strong>
                </a>
            </div>
        </form>
    </div>

</div>